/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

/* Základní hlavicka stránky */
header {
    background: #333; /* tmavé pozadí */
    color: #fff; /* bílý text */
    text-align: center; /* text zarovnaný na střed */
    padding: 1rem 0; /* padding na horní a dolní straně */
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Základní tělo stránky */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Styl patičky */
footer {
    background: #333; /* tmavé pozadí */
    color: #fff; /* bílý text */
    text-align: center; /* text zarovnaný na střed */
    padding: 1rem 0; /* padding na horní a dolní straně */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 0; /* odstranění defaultního margin pro <p> */
    padding: 0.5rem; /* přidání paddingu pro <p> */
    font-size: 0.7rem;
}

/* Přihlašovací formulář a tlačítka */
.login-container {
    background-color: #e6f0ff;
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* nebo jakoukoliv jinou šířku, kterou preferujete */
    margin: 100px auto; /* horní a dolní okraj 100px, automatické na stranách pro centrování */
    text-align: center;
    display: flex; /* Použití flexboxu pro centrování obsahu */
    flex-direction: column; /* Zajistí vertikální uspořádání prvků */
    align-items: center; /* Centruje prvky vodorovně */
    justify-content: center; /* Centruje prvky svisle, pokud je potřeba */
}

/* Styly formuláře */
.form-input {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Styly pre tlačítka */
.button-group-middle {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group-right {
    display: flex;
    justify-content: right;
}

.btn-send {
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    display: inline-block;
    float: right;
}

.btn-dark-blue {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.btn-dark-blue:hover {
    background-color: #003d82;
}

.text-center {
    color: #007bff;
    text-align: center;
}

.small-text {
    font-size: 0.8rem
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.schedule-container {
    flex-grow: 1;
    padding: 20px;
}

.schedule-container h2 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.flex-grow-1 {
    flex-grow: 1;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: auto; /* Automatická šířka dle obsahu */
    min-width: 100px; /* Minimální šířka */
    background-color: #e6f0ff;
    border: 2px solid #007bff;
    padding: 15px;
    border-radius: 5px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 0.5rem 0;
}

.sidebar span {
    color: darkgray; /* Oranžová barva textu */
    display: block; /* Změní span na blokový element, aby bylo možné ho vycentrovat */
    text-align: center; /* Centrování textu */
    margin: 10px 5px; /* Přidává vertikální okraje pro trochu místa kolem textu */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Specifické styly pro tlačítka Login a Register */
.sidebar .button-group-right a {
    color: white;
}

.sidebar .button-group-middle a {
    color: white;
}

/* Styly pro hover stav tlačítek */
.sidebar .button-group-right a:hover {
    text-decoration: none;
    background-color: #003d82;
}

.sidebar .button-group-middle a:hover {
    text-decoration: none;
    background-color: #003d82;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Styly pro zobrazení obsahu předmětů */
ul {
    padding: 0;
    list-style-type: none;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.schedule-container {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
}

.schedule-container h2 {
    color: #0056b3;
    margin-bottom: 20px;
}

.schedule-table {
    width: 100%;
    margin-bottom: 1rem;
}

.schedule-table thead th {
    background-color: #007bff;
    color: white;
}

.schedule-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.schedule-slot {
    background-color: #e3f2fd;
}


/* Další styly */

/*********************** TEST MENU *********************/
.body {
    display: flex;
    flex-direction: row;
}
.menu {
    flex-grow: 1;
    max-width: 250px;
    min-height: 600px;
    background-color: chocolate;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(159, 41, 6, 0.85);
    overflow: hidden;
}
.menu li {
    display: block;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #111;
}

/******************* USER *****************************/
/* Vytvaranie noveho uzivatela */
.user-container {
    min-width: 300px;
    min-height: 600px;
    background-color: #e6f0ff;
    padding: 10px 50px 10px 50px;
    flex-grow: 4;
}
.event-title {
    background-color: rgba(128, 12, 2, 0.85);
    padding: 10px;
}
.event-title h1 {
    color: white;
    margin: 0 10px;
}
.user-container form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.user-container input {
    max-width: 270px;
    border: 1px solid #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
}
.user-container input::placeholder {
    color: rgba(73, 89, 217, 0.72);
}
.user-container select {
    max-width: 300px;
    border: 1px solid #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    color: rgba(73, 89, 217, 0.72);
}
.user-container select option {
    color: rgba(73, 89, 217, 0.72);
    padding: 10px 15px;
    height: 20px;
    margin-top: 5px;
}
.user-container button {
    max-width: 300px;
    background-color: #0056b3;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
}
.user-container button:nth-of-type(2){
    max-width: 300px;
    background-color: #8d0000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
}

/******************* USER MANAGEMENT *****************/
.event-title-manage {
    background-color: rgba(128, 12, 2, 0.85);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.event-title-manage h1 {
    flex-grow: 8;
    vertical-align: middle;
}
.create-button {
    width: 90px;
    background-color: #007bff;
    border: 2px solid #0056b3;
    margin: 10px 10px;
}
.create-button:hover{
    background-color: #edf5ff;
    color: #0056b3;
    font-weight: 600;
}
.manage-content ul{
    list-style-type: none;
    padding: 0;
}
.head {
    background-color: rgba(159, 41, 6, 0.85);
    cursor: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 600;
}
.head a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.head-menu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.head-menu {
    display: flex;
    flex-direction: row;
}
.head-menu li {
    display: block;
    padding: 10px;
    color: white;
}
.head-menu li:nth-of-type(1){
    width: 18%;
}
.head-menu li:nth-of-type(2){
    width: 50%;
}
.head-menu li:nth-of-type(3){
    width: 15%;
}
.head-menu li:nth-of-type(4){
    max-width: 100px;
}
.items {
    cursor: pointer;
    background-color: rgba(214, 96, 60, 0.96);
    text-align: left;
}
.items:hover {
    background-color: rgba(139, 32, 0, 0.92);
}
.items a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.end-table {
    border: 15px solid rgba(159, 41, 6, 0.85);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
}

/******************* EDIT USER *****************/
.borders {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    background-color: #007bff;
    color: white;
    max-width: 380px;
    border-radius: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
.borders-role {
    display: block;
}
.borders input {
    margin: 5px 5px 5px 15px;
    width: calc(100% - 30px);
    color: rgba(73, 89, 217, 0.72);
}
.borders label{
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.borders select {
    margin: 5px 5px 5px 15px;
    width: calc(100% - 30px);
    justify-content: space-between;
}
.borders input[type="email"] {
    width: calc(100% - 30px);
}
.buttons {
    display: flex;
    flex-direction: row;
}
.buttons button:nth-of-type(n) {
    width: 50%;
    margin-left: 0;
    max-width: 192px;
}
.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    max-width: 385px;
}
.change-password label {
    margin-top: 10px;
}
.change-password input {
    margin: 5px;
    max-width: 100%;
}
.change-password hr {
    width: 100%;
}

/********************* SHOW PROFILE ****************/
.card {
    background-color: #007bff;
    padding: 5px;
    color: white;
    border-radius: 15px;
    margin-top: 15px;
    max-width: 400px;
    text-align: center;
    position: relative;
}
.card h2 {
    background-color: #e6f0ff;
    color: #007bff;
    border-radius: 10px 10px 0 0;
    margin: auto;
    padding: 15px;
    border: 1px solid #0000d4;
}
.card hr {
    width: 100%;
}
.profile-role {
    position: absolute;
    background-color: rgba(128, 12, 2, 0.85);
    color: white;
    top: 10px;
    right: 10px;
    float: right;
    overflow: hidden;
    border: 1px solid #0000d4;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0;
    text-transform: uppercase;
}


